.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrap-slider-light {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  z-index: 1;
  transition-property: transform;
  will-change: transform;
}
.slider-light {
  flex-shrink: 0;
  transition-property: transform;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
/*------------------------FLIP_SLIDER-------------------------*/

.slider-flip {
  perspective: 1000px;
}

.slider-flip-light {
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  position: absolute;
  display: none;
}

.slider-flip-light-active {
  transform: rotateY(0);
  display: block;
  opacity: 1;
  z-index: 2;
}

.slider-flip-light-next {
  transform: rotateY(-180deg);
  display: block;
  opacity: 0;
  z-index: 0;
}

.slider-flip-light-prev {
  transform: rotateY(180deg);
  display: block;
  opacity: 0;
  z-index: 0;
}

/*------------------------FADE_SLIDER-------------------------*/

.slider-fade {
  position: relative;
}

.slider-fade-light {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-fade-light-active {
  opacity: 1;
}

/* ------------------------Nav Buttons ------------------------ */

.prev-slider-light {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 7;
  cursor: pointer;
  border-top: 3px solid #0481f7;
  border-left: 3px solid #0481f7;
}
.next-slider-light {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%) rotate(45deg);
  z-index: 7;
  cursor: pointer;
  border-top: 3px solid #0481f7;
  border-right: 3px solid #0481f7;
}
.slider-light-button-disabled {
  opacity: 0.33;
  pointer-events: none;
  cursor: initial;
}
/* ------------------------ Pagination ------------------------ */

.slider-light-pagination {
  display: flex;
  margin: auto;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.slider-light-pagination span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}
.slider-light-pagination span.active-page {
  background-color: #0481f7;
}
